/* Start Global Rules */
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Regular.woff2") format("woff2"),
    url("../fonts/Plain-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Light.woff2") format("woff2"),
    url("../fonts/Plain-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Bold.woff2") format("woff2"),
    url("../fonts/Plain-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #171819;
  --accent-color: #ce3a11;
  --third-color: #8b8b8b;
}
body {
  font-family: "Plain", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
nav {
  padding: 1rem;
  background-color: var(--main-color);
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav .container {
  display: flex;
  justify-content: space-between;
}
nav .container .brand-name {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 28px;
}
nav .container ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 65%;
  text-transform: uppercase;
  font-size: 14px;
}
nav li:not(li:last-child):hover {
  color: var(--accent-color);
  cursor: pointer;
  transition: 0.3s;
}
nav .container .icons i {
  margin: 0px 8px;
  font-size: 18px;
}
.icons i:hover,
.brand-name:hover {
  color: var(--accent-color);
  cursor: pointer;
  transition: 0.3s;
}

.hero {
  height: 100vh;
  background-color: var(--main-color);
  background-image: url(../imgs/hero-bg.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.85;
  z-index: -1;
}
.hero .container {
  padding: 5rem 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.hero-centered-text {
  text-align: center;
  width: 50%;
}
.slogan {
  color: #8b8b8b;
  margin-bottom: 25px;
  font-size: 22px;
}
.hero-centered-text .main-text {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 40px;
  line-height: 65px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  width: 55%;
  margin: auto;
  font-size: 14px;
}
.main-btn {
  padding: 16px 30px;
  cursor: pointer;
}
.main-btn:hover {
  color: var(--accent-color);
}
.second-btn {
  border: 1px var(--accent-color) solid;
  color: var(--accent-color);
  padding: 16px 30px;
  cursor: pointer;
  border-radius: 2px;
}
.second-btn:hover {
  background-color: #fff;
  border: none;
}

.feature {
  background-color: var(--main-color);
  padding: 5rem 0rem;
}
.feature .feature-row {
  display: flex;
  justify-content: center;
}
.feature-col-1 {
  width: 40%;
  margin: auto;
}
.main-heading {
  font-weight: 900;
  font-size: 38px;
  color: white;
  margin-bottom: 15px;
}
.feature-desc {
  color: #f3f3f3;
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 35px;
}
.feature-faded {
  color: var(--third-color);
  line-height: 25px;
  opacity: 0.6;
  margin-bottom: 35px;
}

.feature-col-2 {
  width: 40%;
  margin: auto;
}
.feature-btn {
  background-color: var(--accent-color);
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 14px;
}
.feature-btn:hover {
  background-color: white;
  color: var(--accent-color);
  cursor: pointer;
}
.time {
  color: white;
  font-weight: 700;
}
.feature-col-2 .main-heading {
  margin-bottom: 25px;
}
.main-col {
  border-left: 1px #8b8b8b3b solid;
  padding-left: 80px;
}
.duration h4 {
  margin: 15px 0 0 0;
}
.main-heading.special {
  letter-spacing: -2px;
}

.instructors {
  padding: 100px 0px;
  background-color: #f9f9f9;
}
.instructors .container {
  display: flex;
}
.instructors .left-part {
  width: 50%;
}
.left-part h2 {
  font-size: 34px;
  letter-spacing: -2px;
}
.left-part p {
  width: 90%;
  color: #666262;
  letter-spacing: 1px;
  font-weight: 200;
  line-height: 25px;
}
.instructors .cards {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.cards .card {
  width: 45%;
  background-color: white;
  -webkit-box-shadow: 0px 2px 100px -69px rgb(0 0 0 / 75%);
  -moz-box-shadow: 0px 2px 100px -69px rgb(0 0 0 / 75%);
  box-shadow: 0px 2px 100px -69px rgb(0 0 0 / 75%);
}
.cards .card .desc {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.desc .social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.desc .name h2 {
  margin: 0px 0px 10px 0px;
}
.name :last-child {
  color: #8b8b8b;
}
.instructors img {
  width: 100%;
}
.social .fab {
  color: #8b8b8b;
}

.classes {
  padding: 120px 0px;
}
.classes .header,
.schedule .header {
  text-align: center;
  font-size: 24px;
  color: #8b8b8b;
  font-weight: 200;
}
.classes .header-2,
.schedule .header-2 {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  margin: 10px 0px 50px 0px;
}
.classes .cards {
  display: flex;
  justify-content: space-between;
}
.classes .cards .card {
  width: 31.5%;
}
.classes .cards .card img {
  width: 100%;
}
.classes .cards .card .desc {
  padding: 20px 30px;
  flex-direction: column;
  position: relative;
}
.classes .cards .card .desc .title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}
.classes .cards .card .desc .trainer {
  margin-bottom: 15px;
}
.trainer strong {
  color: #8b8b8b;
}
.desc .info {
  color: #8b8b8b;
  font-size: 18px;
  line-height: 25px;
}

.classes .cards .card .desc::before {
  content: "";
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: absolute;
  right: 25px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classes .cards .card:first-child .desc::before {
  content: "50$";
}
.classes .cards .card:nth-child(2) .desc::before {
  content: "66$";
}
.classes .cards .card:last-child .desc::before {
  content: "75$";
}
.schedule {
  background-color: var(--main-color);
  padding: 120px 0px;
}
.schedule .header-2 {
  color: white;
}
table {
  width: 100%;
}
table,
td,
th {
  border: 1px solid #66626228;
  font-size: 14px;
}
td,
th {
  text-align: center;
}
table {
  border-collapse: collapse;
  color: white;
}
th {
  background-color: var(--accent-color);
  height: 60px;
}
td {
  height: 80px;
}
tr td:first-child {
  background-color: var(--accent-color);
}

td strong {
  font-size: 16px;
}
td .duration {
  margin-top: 10px;
  color: #8b8b8b;
}
tr:nth-child(1) td:last-child {
  border-right-color: transparent;
}
tr:nth-child(3) td:last-child {
  border-right-color: transparent;
}

.form-map {
  padding: 120px 0px;
}
.body-form {
  display: flex;
  justify-content: space-around;
}
.form {
  width: 40%;
}
.body-form .right-part {
  width: 40%;
}
.form {
  display: flex;
  flex-direction: column;
}
.form h1,
.right-part h1 {
  margin-bottom: 40px;
  font-size: 36px;
  letter-spacing: -2px;
  color: var(--main-color);
}
input {
  height: 50px;
  margin-bottom: 20px !important;
  outline: none;
  border: 1px rgba(0, 0, 0, 0.178) solid;
  padding-left: 10px;
}
textarea {
  padding-left: 10px;
  padding-top: 10px;
  outline: none;
  border: 1px rgba(0, 0, 0, 0.178) solid;
}

::placeholder {
  color: #17181988;
  font-weight: 400;
}
.form button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  border: none;
  height: 55px;
  transition: 0.2s;
}
.form button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}
.right-part .location {
  color: #8b8b8b;
  padding-bottom: 50px;
  font-size: 18px;
  font-weight: 100;
  margin: 0;
  padding-left: 12px;
  width: 80%;
}
.map {
  padding-top: 50px;
  border-top: 1px #8b8b8b3d solid;
}
.right-part i {
  color: var(--accent-color);
  line-height: 26px;
}
footer {
  padding: 40px;
  border-top: 1px #8b8b8b3d solid;
}
footer .footer-box {
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  color: #8b8b8b;
}
.copyright div {
  margin-top: 10px;
}
.copyright a {
  text-decoration: none;
  color: var(--main-color);
}
a:hover {
  color: var(--accent-color);
}
a:visited {
  color: var(--accent-color);
}

.contact {
  display: flex;
  width: 35%;
  justify-content: space-around;
}
.contact i{
  color: var(--accent-color); 
  margin-right: 5px;
}